.container
	.hero-unit
		h1 Go ahead, lie.
		br
		p We remember "who you are" at the bar, so you don't have to.
		
		a(href='/id', title='Get a Fake ID').btn.btn-primary.btn-large Get a fake ID
		br
		br
	br
	br