.container
	<img align="right" class="will" src="/images/will.jpg">
	.hero-unit
		
		h1 Go ahead, lie.
		h3 We come up with your back story so you don't have to.
		br
		a(href='/id', title='Get a Fake ID').btn.btn-primary.btn-large Rule #15: Resist the urge to tell the truth.
		br
		br
	br
	br